body {
color: #004c8b;
}

a {
  color: #90a7cf;
}

a:hover {
  color: #fae236;
  text-decoration: none;
}

hr {
  border-top-color: #fae236; 
}

section {
	padding-top: 20px;
	padding-bottom: 50px;
}

.bg-primary {
  background-color: #004c8b;
}

.bg-primary a{
text-decoration: underline;
}

.bg-primary a.btn {
    text-decoration: none;
}

.name{
    white-space: nowrap;
}

img.rotate90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

img.founders {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

#menu-close {
  text-indent: 0;
}
