.bg-primary a {
    text-decoration: underline;
    color: #eef;
}
.bg-primary a.btn {
    text-decoration: none;
}

.bg-primary a:hover {
    color: #fff;
}
.name{
    white-space: nowrap;
}

img.rotate90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

img.founders {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
